.products {
  /* Small devices */
  /* Medium devices */
  /* Large devices */
  /* Extralarge devices */
}
.products__line {
  line-height: 4rem;
}
.products__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 1.5rem;
  padding-top: 3rem;
}
.products__card1 {
  position: relative;
  height: 132px;
  background-color: #FFE5E1;
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: grid;
  cursor: pointer;
}
.products__card2 {
  position: relative;
  height: 132px;
  background-color: #FFFCA2;
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: grid;
  cursor: pointer;
}
.products__card3 {
  position: relative;
  height: 132px;
  background-color: #CD7171;
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: grid;
  cursor: pointer;
}
.products__card4 {
  position: relative;
  height: 132px;
  background-color: #5AC680;
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: grid;
  cursor: pointer;
}
.products__card5 {
  position: relative;
  height: 132px;
  background-color: #B1ED6C;
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: grid;
  cursor: pointer;
}
.products__img {
  width: 100px;
  position: absolute;
  inset: 0;
  margin-left: auto;
  margin-right: auto;
  top: -3rem;
}
.products__content {
  align-self: flex-end;
}
.products__caption {
  padding-top: 4rem;
}
.products__title, .products__price {
  font-size: var(--small-font-size);
  color: #000;
}
.products__price {
  font-weight: var(--font-semi-bold);
}
.products__button {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.35rem;
}
@media screen and (max-width: 340px) {
  .products__container {
    grid-template-columns: 142px;
    justify-content: center;
  }
}
@media screen and (min-width: 576px) {
  .products__container {
    grid-template-columns: repeat(3, 142px);
    justify-content: center;
  }
}
@media screen and (min-width: 767px) {
  .products__container {
    grid-template-columns: repeat(3, 162px);
    gap: 6rem 3rem;
    padding-top: 5rem;
  }
  .products__card1 {
    height: 152px;
    padding: 0.85rem;
  }
  .products__card2 {
    height: 152px;
    padding: 0.85rem;
  }
  .products__card3 {
    height: 152px;
    padding: 0.85rem;
  }
  .products__card4 {
    height: 152px;
    padding: 0.85rem;
  }
  .products__card5 {
    height: 152px;
    padding: 0.85rem;
  }
  .products__img {
    width: 95px;
  }
}
@media screen and (min-width: 1024px) {
  .products__container {
    grid-template-columns: repeat(5, 1fr);
  }
  .products__card1 {
    height: 175px;
    padding: 1rem;
    padding-top: 3.75rem;
  }
  .products__card2 {
    height: 175px;
    padding: 1rem;
    padding-top: 3.75rem;
  }
  .products__card3 {
    height: 175px;
    padding: 1rem;
    padding-top: 3.75rem;
  }
  .products__card4 {
    height: 175px;
    padding: 1rem;
    padding-top: 3.75rem;
  }
  .products__card5 {
    height: 175px;
    padding: 1rem;
    padding-top: 3.75rem;
  }
  .products__img {
    width: 140px;
  }
}/*# sourceMappingURL=Products.module.css.map */